@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .icon { transition: transform 0.3s ease; } .icon:hover { transform: scale(1.1); }
  /* Customize the scrollbar track */
  .Catogrery::-webkit-scrollbar{

    scrollbar-width: thin;
    scrollbar-3dlight-color: #4682b4;
    
  }
  
  /* Customize the scrollbar thumb */
  .Catogrery::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #ff6347, #ff4500); /* thumb color */
    
  }
  
  /* Change scrollbar thumb color on hover */
  .Catogrery::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, #4682b4, #1e90ff); /* thumb color on hover */
  }