@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .icon { transition: transform 0.3s ease; } .icon:hover { transform: scale(1.1); }
  /* Customize the scrollbar track */
  .Catogrery::-webkit-scrollbar{

    scrollbar-width: thin;
    scrollbar-3dlight-color: #4682b4;
    
  }
  
  /* Customize the scrollbar thumb */
  .Catogrery::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #ff6347, #ff4500); /* thumb color */
    
  }
  
  /* Change scrollbar thumb color on hover */
  .Catogrery::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, #4682b4, #1e90ff); /* thumb color on hover */
  }


  .magnifier-container {
    position: relative;
    overflow: hidden;
  }
  
  .zoom-image {
    display: block;
    width: 100%;
  }
  
  .magnifier {
    position: absolute;
    width: 200px; /* Adjust size of magnifier */
    height: 200px; /* Adjust size of magnifier */
    border: 1px solid #ccc; /* Magnifier border */
    border-radius: 50%; /* Make magnifier circular */
    background: rgba(255, 255, 255, 0.5); /* Magnifier background color */
    pointer-events: none; /* Prevent magnifier from blocking mouse events */
    display: none; /* Hide magnifier by default */
  }
  